<div class="product-card" (click)="openProductDetails()">
  <button
    class="favorite-btn"
    (click)="onToggleFavorite($event)"
    *ngIf="isFavorite"
  >
    <span class="material-icons">favorite</span>
  </button>

  <img [src]="product.thumbnail" alt="{{ product.title }}" />
  <h3>{{ product.title }}</h3>
  <div class="rating" *ngIf="product.rating !== undefined">
    <span class="material-icons">star</span>
    {{ product.rating }}
  </div>

  <button
    class="favorite-btn"
    (click)="onToggleFavorite($event)"
    *ngIf="!isFavorite"
  >
    <span class="material-icons">favorite_border</span>
  </button>

  <div class="price">${{ product.price }}</div>
</div>
