<nav class="navbar" role="navigation" aria-label="Main navigation">
  <div class="navbar-container">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="navbar-link"
      aria-current="page"
      >Home</a
    >

    <a
      routerLink="/favorites"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="navbar-link"
      >Favorites</a
    >
  </div>
</nav>

<div class="main" role="main">
  <router-outlet></router-outlet>
</div>
