<div class="custom-select-container">
  <select
    id="category-select"
    (change)="filterByCategory($any($event.target).value)"
    aria-label="Select a product category"
  >
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category.slug">
      {{ category.name }}
    </option>
  </select>
</div>

<div *ngIf="isLoading; else productGrid">
  <app-spinner></app-spinner>
</div>

<ng-template #productGrid>
  <div class="product-grid" aria-live="polite">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      aria-labelledby="product-name"
    ></app-product-card>
  </div>
</ng-template>

<ng-container *ngIf="sharedService.selectedProduct$ | async as product">
  <app-product-details-modal
    *ngIf="sharedService.modalVisibility$ | async"
    [product]="product"
    (closeModal)="onModalClose()"
    (toggleFavorite)="toggleFavorite($event)"
    aria-hidden="false"
  ></app-product-details-modal>
</ng-container>
