<div *ngIf="favorites.length === 0">
  <div class="no-favorites">No favorites yet</div>
</div>

<div class="product-grid">
  <app-product-card
    *ngFor="let product of favorites"
    [product]="product"
  ></app-product-card>
</div>

<ng-container *ngIf="sharedService.selectedProduct$ | async as product">
  <app-product-details-modal
    *ngIf="sharedService.modalVisibility$ | async"
    [product]="product"
    (closeModal)="onModalClose()"
    (toggleFavorite)="toggleFavorite($event)"
  ></app-product-details-modal>
</ng-container>
